@charset "utf-8";

html {}

body {

}

/* header */
header {
    background: #186AC9;
}

.wrap {

    display: inline-block;
    display: flex;
    display: flex;
    font-size: 1.5em;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -12000px;
}



/* アコーディオン記述 */

.menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    pointer-events: auto;
    top: 1px;
    right: 1px;
}


.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
  }

.menu-btn.is-open {
    top: 10%;
    transform: translate(-60%, -65%) rotate(-60sdeg); /*与えられた要素を回転、拡大縮小、傾斜、移動することできます*/
}


.menu {
    position: relative; /* 要素の位置を決める際に使用するCSSプロパティ */
    top: 100px; /* CSS のプロパティで、位置指定要素の垂直位置の決定に関与します */
    display: inline-block;/* ブロック要素やインラインブロック要素  */
    width: 90%;/*指定したHTML要素の横幅を調節できるプロパティ */
    font-size: 1.2em;
    background-color: #fff;/*要素内の文字などの 背景の色 を指定します */
    opacity: 0;/*要素の不透明度を設定します */
    transition: .3s ease-out;/*ホバー時やクリック時の動きをを調整できるプロパティがtransitionプロパティ */
    pointer-events: auto ;/*要素のクリックイベントをキャンセルするために使用されます */
    transform: translateY(0px);/*与えられた要素を回転、拡大縮小、傾斜、移動することできます*/
}




.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    margin-right: 0;
}

.wrap div {
    margin-right: 90px;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
