@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

.wrap {

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}

.wrap div {
    margin-left: 7px;
}


/* アコーディオン記述 */

.menu-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1px;
    right: 1px;
    outline: initial;
}


.dli-chevron-down {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
  }

.menu-btn.is-open {
    top: 10%;
    transform: translate(-50%, -60%) rotate(-45deg);
}

.menu {
    position: absolute;
    top: 60px;
    width:10%;
    background-color: #fff;
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);
}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    margin-right: 0;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
